.banner {
    position: absolute;
    top: -3vh;
    opacity: 1;
    fill: #bfbfbf;
    transform: scale(1.04);
    font-weight: 100;
      & > .dot {
      font-size: 85px;
    }
  }
  
  #banner-dot {
    filter: url(#sat-adjust);
  }