#bh-logo {
    margin-top: 1vh;
    margin-left: 10vw;
    width: 100px;
    height: 75px;
    position: absolute;
    top: 0;
    left: 0;
    // border: 1px solid red;
    
    & > #logo-h {
        fill: #4E4D4D;
    }
    & > .logo-b {
        fill: #B7B7B7;
    }
    & > #logo-h-blocks {
        fill: #838383;
    }
}
#logo-dot {
    filter: url(#sat-adjust);
}