.page-collect h1 {
    color: cadetblue;
    // z-index: 20;
    font-size: 3em;
    width: 400px !important;
    height: 30px !important;
    margin-left: 30vw;

}
.page-collect {
    position: absolute;
    top: 0;
    left: 0;
}