.page-create h1 {
    // z-index: 20;
    color: #9b353a;
    font-size: 3em;
    width: 400px !important;
    height: 30px !important;
    margin-left: 30vw;

}
.page-create {
    position: absolute;
    top: 0;
    left: 0;
}