.page-home {
  // color: red;
  // z-index: 20;
  position: relative;
  top: 0;
  font-size: 2em;
  width: 50vh;

  height: 70vh;
  margin-left: 30vw;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.page-home h1, p {
    font-weight: lighter;
  width: 100%;
  font-size: .8em; 
    color: dimgray;

}
h1 span {
  font-style: italic;
  color: black;
}
#temp-img {
  top: 20vh;
  margin: 10vh auto 1vh auto;
  border: 2px solid skyblue;
  box-shadow: 4px 4px 10px 0px black;
  width: 100%;
}
