.page-home h1 {
  color: #ebbd89;
  // z-index: 20;
  position: absolute;
  top: 0;
  font-size: 3em;
  width: 400px !important;
  height: 30px !important;
  margin-left: 30vw;
}
p {
  margin-left: 30vw;
  color: dimgray;
}
.page-home {
  position: absolute;
  top: 0;
  left: 0;
}
