/**HomeContainer is a div containing SVG composite components**/
.home-container { //Container DIV for composite components
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100vw;
    height: 100vh;
    svg {
        position: absolute;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
    }
}

.offset-match {
  stop-color: #a8a8a8;
}

// Insert into new component Preview
#brdr1 {
    // border: 1px solid red;
}

#reflection {
    transform-origin: 50% 86.7%;
    // width: 255%;
    
//   -moz-transform: scaleX(-1);
//   -o-transform: scaleX(-1);
//   -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  filter: FlipH;
//   -ms-filter: 'FlipH';

//   -moz-transform: scaleY(-1);
//   -o-transform: scaleY(-1);
//   -webkit-transform: scaleY(-1);
  transform: scaleY(-1);
  filter: FlipV;
//   -ms-filter: 'FlipV';
}

