#menu-desktop {
    width: 12vw;
    height: 26vh;
    position: absolute;
    left: 75vw;
    top: 2vh;
    // border: 2px solid deepskyblue;
    & > {
        path {
            fill: none;
        }
        text {
            font-family: 'Lato', Tahoma, sans-serif;
            font-size: 45px;
            font-weight: 300;        
        }
    }
}