#btn-mute {
  // SVG
  position: absolute;
  // position: relative;
  // margin-left: 20vw;
  width: 46px;
  height: 46px;

  top: 80vh;
  left: 20vw;
  // border: 4px solid yellow;
  // opacity: 0;
}

#sound-icon-waves {
   filter: blur(0px); //placeholder
}

@media screen and (max-width: 768px) {
  // tablet query
  #pond {
    // SVG
    filter: blur(0px); //placeholder
  }
}
