//NB: investicate this. It seems to have no purpose. No width or height. Do wee need it?
.menu-frame {
  position: absolute;
  top: 0;
  left: 0;
  // border: 1px solid red;
}


// <div className="menu-frame">
// <svg className="menu-link" id="menu-desktop"
  #menu-desktop {
    width: 15vw;
    height: 26vh;
    position: absolute;
    left: 75vw;
    top: 2vh;
    & a {
      cursor: pointer;
    }
    
    & text {
      font-family: 'Lato', Tahoma, sans-serif;
      font-size: 45px;
      font-weight: 300;
      opacity: 0;
    }
    // border: 1px solid orangered;
}

.lo-sat {
  filter: url(#lo-sat);
}

@media screen and (max-width: 768px) {    // tablet query
  #menu-desktop {
    position: absolute;
    width: 35vw;
    height: 30vh;
    left: 65vw;
    top: 0;
  }
}