/* These may be superfluous as gsap handles the opacity throughout */

#swell-stop1 {
  stop-opacity: 0;
}
#swell-stop2 {
  stop-opacity: 0;
}
#swell-stop3 {
  stop-opacity: 0;
}
#swell-stop4 {
  stop-opacity: 0;
}

#shore-svg {
  position: absolute;
  width: 100%;
  bottom: 20vh;
  left: 200px;
  // border: 1px solid navy;
}
