#short-tree {
  // SVG
  position: absolute;
  left: 0;
  bottom: 2vh;
  height: 100vh;
}



@media screen and (max-width: 768px) {
  // tablet query
  #pond {
    // SVG
    filter: blur(0px); //placeholder
  }
}
