// .soc-icon-container {
//   opacity: 1;
//   position: absolute;
//   stroke: teal;
//   stroke-width: 1px;
// }
#soc-icon-svg {
  position: absolute;
  left: 10vw;
  bottom: 5px;
  width: 20%;
  
  // border: 1px solid red;
}
.iconText { 
  display: none;
}

.iconCover {
  stroke-width: 1px;
  stroke: #cca293;
  opacity: 1;
}
/* use sibling selector? */
.iconCover:hover {
  opacity: 0;
  cursor: pointer;
}
.gmailBG, .instaBG, .gitBG, .linkedInBG, .codepenBG, .twitterBG {
  stroke-width: 1px;
  stroke: #000;
}


.test {
color: #656565;
color: #1c0000;
}
// .iconText:hover {
//   opacity: 0;
// }
// .soc-icon-svg > a > rect {
//   opacity: 1;
//   width: 60px;
//   height: 40px;
//   filter: url(#lo-sat);
//   &:hover {
//     filter: none;
//     fill: transparent;
//     stroke-width: 2px;
//     stroke: #3f1b1b;
//     cursor: pointer;
//   }
// }

// .icon-text-group {
//   // transform: translate(-2px, -3px);
//   filter: url(#sat-adjust);
//   fill: #3f1b1b;
// }