div.svg-container {
    position: absolute;
    overflow: hidden;
    width: 100vw;
    height: 100vh;
    position: relative;
    svg {
        position: absolute;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
    }
}

