#white-caps {
  // SVG
  position: absolute;
  width: 100vw;
  bottom: 0;
  left: 0;
}

@media screen and (max-width: 768px) {
  // tablet query
  #pond {
    // SVG
    // height: 100%;
    width: 100vw; //placeholder
  }
}
