@keyframes MorseCode {
  1.0% {
    opacity: 1;
  }
  1.5% {
    opacity: 0;
  }
  2.0% {
    opacity: 1;
  }
  2.5% {
    opacity: 1;
  }
  3.0% {
    opacity: 1;
  }
  3.5% {
    opacity: 0;
  }
  4.0% {
    opacity: 1;
  }
  4.5% {
    opacity: 1;
  }
  5.0% {
    opacity: 1;
  }
  5.5% {
    opacity: 0;
  }
  6.0% {
    opacity: 1;
  }
  6.5% {
    opacity: 0;
  }
  7.0% {
    opacity: 0;
  }
  7.5% {
    opacity: 0;
  }
  8.0% {
    opacity: 1;
  }
  8.5% {
    opacity: 0;
  }
  9.0% {
    opacity: 1;
  }
  9.5% {
    opacity: 1;
  }
  10.0% {
    opacity: 1;
  }
  10.5% {
    opacity: 0;
  }
  11.0% {
    opacity: 1;
  }
  11.5% {
    opacity: 0;
  }
  12.0% {
    opacity: 1;
  }
  12.5% {
    opacity: 0;
  }
  13.0% {
    opacity: 0;
  }
  13.5% {
    opacity: 0;
  }
  14.0% {
    opacity: 1;
  }
  14.5% {
    opacity: 0;
  }
  15.0% {
    opacity: 0;
  }
  15.5% {
    opacity: 0;
  }
  16.0% {
    opacity: 1;
  }
  16.5% {
    opacity: 0;
  }
  17.0% {
    opacity: 1;
  }
  17.5% {
    opacity: 1;
  }
  18.0% {
    opacity: 1;
  }
  18.5% {
    opacity: 0;
  }
  19.0% {
    opacity: 0;
  }
  19.5% {
    opacity: 0;
  }
  20.0% {
    opacity: 1;
  }
  20.5% {
    opacity: 0;
  }
  21.0% {
    opacity: 1;
  }
  21.5% {
    opacity: 0;
  }
  22.0% {
    opacity: 1;
  }
  22.5% {
    opacity: 0;
  }
  23.0% {
    opacity: 0;
  }
  23.5% {
    opacity: 0;
  }
  24.0% {
    opacity: 1;
  }
  24.5% {
    opacity: 0;
  }
  25.0% {
    opacity: 0;
  }
  25.5% {
    opacity: 0;
  }
  26.0% {
    opacity: 0;
  }
  26.5% {
    opacity: 0;
  }
  27.0% {
    opacity: 0;
  }
  27.5% {
    opacity: 0;
  }
  28.0% {
    opacity: 1;
  }
  28.5% {
    opacity: 0;
  }
  29.0% {
    opacity: 1;
  }
  29.5% {
    opacity: 0;
  }
  30.0% {
    opacity: 1;
  }
  30.5% {
    opacity: 0;
  }
  31.0% {
    opacity: 1;
  }
  31.5% {
    opacity: 0;
  }
  32.0% {
    opacity: 0;
  }
  32.5% {
    opacity: 0;
  }
  33.0% {
    opacity: 1;
  }
  33.5% {
    opacity: 0;
  }
  34.0% {
    opacity: 1;
  }
  34.5% {
    opacity: 0;
  }
  35.0% {
    opacity: 0;
  }
  35.5% {
    opacity: 0;
  }
  36.0% {
    opacity: 1;
  }
  36.5% {
    opacity: 0;
  }
  37.0% {
    opacity: 1;
  }
  37.5% {
    opacity: 1;
  }
  38.0% {
    opacity: 1;
  }
  38.5% {
    opacity: 0;
  }
  39.0% {
    opacity: 1;
  }
  39.5% {
    opacity: 0;
  }
  40.0% {
    opacity: 0;
  }
  40.5% {
    opacity: 0;
  }
  41.0% {
    opacity: 1;
  }
  41.5% {
    opacity: 0;
  }
  42.0% {
    opacity: 0;
  }
  42.5% {
    opacity: 0;
  }
  43.0% {
    opacity: 0;
  }
  43.5% {
    opacity: 0;
  }
  44.0% {
    opacity: 0;
  }
  44.5% {
    opacity: 0;
  }
  45.0% {
    opacity: 1;
  }
  45.5% {
    opacity: 1;
  }
  46.0% {
    opacity: 1;
  }
  46.5% {
    opacity: 0;
  }
  47.0% {
    opacity: 1;
  }
  47.5% {
    opacity: 1;
  }
  48.0% {
    opacity: 1;
  }
  48.5% {
    opacity: 0;
  }
  49.0% {
    opacity: 0;
  }
  49.5% {
    opacity: 0;
  }
  50.0% {
    opacity: 1;
  }
  50.5% {
    opacity: 0;
  }
  51.0% {
    opacity: 0;
  }
  51.5% {
    opacity: 0;
  }
  52.0% {
    opacity: 0;
  }
  52.5% {
    opacity: 0;
  }
  53.0% {
    opacity: 0;
  }
  53.5% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}