// Stuff for centering & layout styles

.option {
    border: 1px solid mistyrose;
    font-family: $Raleway;
    font-weight: 200;
    grid-column: 1;
    grid-row: auto;
    width: 40vw;
    height: 5vh;
    margin: 0 2vw;
    padding: 3%;
    line-height: 2px;
    justify-content: space-between;
}

.option__text {
    word-break: break-all;
}