body {
    color: olive;
}

.test {
    color: #ccf1ce;
        background:#1d3247;
    background:#1d3247;
    background:#1d3247;
    
}
li:first-child {
    /* list-style-image: url('img/listdot.svg') */
}