body {
    color: olive;
}

.test {
    color: #78989b;
        background:#1d3247;
    background:#1d3247;
    background:#1d3247;
    
}
li:first-child {
color:#4b0000;
mix-blend-mode: multiply;
color:  orange;

color: #8caab4;

}

