@import url('https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500');
/* FOR NUMBERS */
@import url('https://fonts.googleapis.com/css?family=Plaster');

/* home TITLE TEXT */
@import url('https://fonts.googleapis.com/css?family=Limelight');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  font-size: 1.6rem; /*16px*/
  font-family: 'Montserrat', Tahoma, Geneva, Verdana, sans-serif;
  color: black;
}
button:focus {outline:0;}

a {
  cursor: pointer;
}
li {
  list-style: none;
}

/*  Does root even need styling? */
#root {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

#nav {
  position: relative;
}

.App-routes-container {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
}

h1 {
  font-size: 2.5em;
}
h2 {
  font-size: 2em;
}
h3 {
  font-size: 1.6em;
}
h4 {
  font-size: 1em;
}

/******* PAGE TRANSITION STYLES **********/
.fade-enter {
  opacity: 0;
  z-index: 1;
}
.fade-enter.fade-enter-active {
  opacity: 1;
  transition: opacity 2000ms ease-in-out;
}
.fade-enter-active::after {
  font-size: 3rem;
  color: wheat;
  background: brown;
  /* FIXME: z-index: ??; */
}

.fade-exit {
  opacity: 1;
  transition: opacity 5s ease-in-out;
  /* position: absolute; */
}
.fade-exit.fade-exit-active {
  opacity: 0;
  transition: opacity 2000ms ease-in-out;
}

@keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/******* PAGE TRANSITION STYLES END**********/



/*********TESTING FOR EACH PAGES GRID*********/

.grid-ctr {
  opacity: 0;
}


.testing-colors {
  color: #e9e9e9;

  color: #3b3b3b;

  color: #5f807d;

  color: rgba(113, 144, 153, 0.486);
  cursor: pointer;
  
  color: #ecdfcd;

}



.meta-data-techlist {
  grid-row: 4/9;
  grid-column: 1/6;
  text-align: left;
  padding: 1%;
  font-size: 1em;
  position: relative;     
}
    ul li::after {
      content: url(`./img/listdot.svg`);
    }   

/* SLIDESHOW CSS */

/* 

.slideshow-enter {
  opacity: 0.01;
}

.slideshow-enter.slideshow-enter-active {
  opacity: 1;
  transition: opacity 800ms ease-in;
}

.slideshow-leave {
  opacity: 1;
}

.slideshow-leave.slideshow-leave-active {
  opacity: 0.01;
  transition: opacity 800ms ease-in;
}

.fadeIn {
  opacity: 0;
  animation: appear 1s ease-in-out forwards;
}

@keyframes appear {
  100% {
    opacity: 1;
  }
} 

*/

/*
TODO: change reflection to "Learning"



"
home
coding
coded
typed
connect

"
*/