@import url('https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500');
@import url('https://fonts.googleapis.com/css?family=Lato:100,300,400');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  position: fixed;
  /* border: 5px solid fuchsia; */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}
a {
  cursor: pointer;
}

text {
  font-family: 'Lato', Tahoma, sans-serif;
  font-size: 45px;
  font-weight: 300;
  opacity: 0;
}
/*  Does root even need styling? */
#root {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}
.App-routes-container {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
}
/******* PAGE TRANSITION STYLES **********/

.fade-enter {
  opacity: 0;
  z-index: 1;
}
.fade-enter.fade-enter-active {
  opacity: 1;
  transition: opacity 2000ms ease-in-out;
}
.fade-enter-active::after {
  /* content: 'transition test'; */
  font-size: 30px;
  color: wheat;
  background: brown;
  /* border: 1px solid coral; */
}

.fade-exit {
  opacity: 1;
  transition: opacity 5s ease-in-out;
  /* position: absolute; */
}
.fade-exit.fade-exit-active {
  opacity: 0;
  transition: opacity 2000ms ease-in-out;
}

.fader-landing {
  opacity: 1 !important;
  animation: fadein 4s;
}

.fader-create {
  opacity: 1 !important;
  animation: fadein 4s 2s;
}

.fader-home {
  opacity: 1 !important;
  animation: fadein 4s;
}

@keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/***********TESTING NAV************/

.test {
  color: dimgray;
}
/* TEST STYLES FOR NAVS CONTAINER */

/* DEPRECATED RULES (FOR CLEANING) */

/* .current-link .nav-link-dot {
  filter: url(#dot-shad);
} */

/* tablet query */
/* .home-container {
  background: fuchsia;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  font-family: 'Lato', Tahoma, Geneva, Verdana, sans-serif;
  overflow: hidden;
  display: grid;
  grid-template-columns: 26vw repeat(3, 1fr) 26vw;
  grid-template-rows: 10vh repeat(4, 20vh) 10vh;
  z-index: 1;
} */

/************************/

