.colors {
  color: #e8c9a5;
  color: #9a797a;
  color: #537774;
  color: #A07F99;
  color: #6a768f;
  
  color: #ebbd89;
  color: #9b353a;
  color: #85bb8f;
  color: #567ace;
  color: #65aca2;


  /* color: #949494; */
  color: #413545;
}
