.colors {
  color: #e8c9a5;
  color: #9a797a;
  color: #537774;
  color: #A07F99;
  color: #6a768f;
  
  color: #ebbd89;
  color: #9b353a;
  color: #85bb8f;
  color: #567ace;
  color: #65aca2;


  color: #363636;
  color: #9c78a8;
}
body {
	background: slategrey;
}
 .global-grid {
  display: grid;
  grid-template-columns: repeat(3, 30vw);
  grid-template-rows: repeat(4, 20vh);
  background: grey;
}
.pro-wrapper {
  grid-column: auto;
	position: relative;
  border: 1px solid burlywood;
  background: darkgrey;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  overflow: hidden;
}
.pro-pic {
  grid-column: 1;
  grid-row: 1/-1;
  width: 10vw;
  min-height: 20vh;
  border: 1px solid coral;
}
.pro-name {
  border: 1px solid navy;
  margin-top: 5%;
  grid-column: 2;
  grid-row: 1;
  color: black;
  font-size: 40px;
  opacity: 0.5;
}
.pro-company {
  grid-column: 2;
  grid-row: 2;
  color: white;
} 