@import './_settings';
:root {
    --offset-match: #a8a8a8;
    --bg-right: #fff;
    --water-foreground: #cfcfcf;
    
    --shore-color-1: #646464;
    --shore-color-2: #f2f2f2;
    --shore-color-3: #B08D80;


    /***Pond Import vars*/
    --lightMist: #a8a8a8;
    --darkMist: #4d4d4d;
    --bgGradRight: #fff;
}

html {
    font-size: 62.5%;
    // This changes the rem to a base-10 system (because 16 * .625 = 10)
    // So... 2.2rem = 22px, etc etc.
    // background: fuchsia;
}

body {
    background: linear-gradient(120deg, $off-black 0%, $dark-blue 100%);
    color: $lemon-light;
    font-size: $md-size;
    position: relative; 
}

.beauhaus-banner {
    position: absolute;
    top: 18vh;
    right: -20vw;
    font-size: 145px;
    font-family: $Raleway;
    // font-stretch: ultra-expanded;

    color: black;
    opacity: 0.1;
    font-weight: 200;
    // border: 1px solid blue;
    
        /* Safari */
        -webkit-transform: rotate(-90deg);
        
        /* Firefox */
        -moz-transform: rotate(-90deg);
        
        /* IE */
        -ms-transform: rotate(-90deg);
        
        /* Opera */
        -o-transform: rotate(-90deg);
        
        /* Internet Explorer */
        filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
    z-index: 10;   
}