//Google Fonts
@import url(https://fonts.googleapis.com/css?family=Montserrat:100,200);
@import url(https://fonts.googleapis.com/css?family=Poiret+One); // only has one style: "Regular" (perhaps nice for menu, but not for <p> copy

@import url(https://fonts.googleapis.com/css?family=Poiret+One); // only has one style: "Regular"
@import url('https://fonts.googleapis.com/css?family=Lato:100,300,400'); // 100 is hairline --> use sparingly 300/400 is good for copy




//Font-Stack
$Poiret: 'Poiret One', sans-serif, cursive;
$Montserrat: 'Montserrat', sans-serif;
$Lato: 'Lato', sans-serif;

$off-black: #1b1b1b;
$lemon-light: #fcfae9;
$brand-color: #1a0202;
$dark-blue: #252533;
$green-matte: #3f5c3f;

$spacing: 0.5vw;
$md-size: 1.6rem;
$lg-size: 3.2rem;
$xl-size: 4.8rem;

/** As a rule, the leaves are 10% brighter than the trees & brances themselves**/
$tree-back: #9b9b9b;
$tree-back-leaves: #a5a5a5;

$tree-mid: #2a0faa;
$tree-mid-leaves: #4ca;

$tree-front: pink;
$tree-front-leaves: #262626;

$flower-base: #513535;
$flower-frame: #bd1634;
$flower-petal: #a90c00;
$flower-stamen: #fceded;

/* for landing bg and pond blend */

$offset-match: #a8a8a8;
$bg-right: #fff;
$water-foreground: #cfcfcf;
